
<div class="login">
    <div class="content">
        <div class="content-heading">
            <p>Log in</p>
        </div>
        <div class="content-email">
            <input type="email" name="email" id="email" placeholder="Email ID*">
            <p class="forgot">FORGOT EMAIL ID?</p>
        </div>
        <div class="content-password">
            <input type="password" name="password" id="password" placeholder="Password*">
            <p class="forgot">FORGOT PASSWORD?</p>
        </div>
        <div class="content-remember-me">
            <input type="checkbox" name="remember-me" id="remember-me">
            <label for="remember-me">Remember Me</label>
        </div>
        <div class="content-login-btn">
            <a routerLink="list">
            LOG IN
            </a>
        </div>
        <div class="link-label">
            Not registered yet?
        </div>
        <div class="new-account-link">
            <a routerLink="new-account">CREATE AN ACCOUNT</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>